<!--
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true">
    <mat-toolbar color="primary image-logo"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
        <mat-icon class="sidenav-icon">dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/members']">
        <mat-icon class="sidenav-icon">members</mat-icon>
        Members
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/assistance-applications']">
        <mat-icon class="sidenav-icon">Assistance Applications</mat-icon>
        Assistance Applications
      </a>
      <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/my-profile']">
        <mat-icon class="sidenav-icon">my-profile</mat-icon>
        My Profile
      </a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
-->
