<div class="main-container">
  <mat-card class="section-container medical-assistance-container">
    <mat-card-header class="profile-photo-header">
      <mat-card-title><h3>Medical Assistance Application Form</h3></mat-card-title>
    </mat-card-header>
    <div class="medical-assistance-notes">
      <div class="row class-md-12">
        <p><b>{{ messageHeader }}</b></p>
      </div>
      <ng-container *ngFor="let msg of messages">
        <div class="row class-md-12">
          {{ msg }}
        </div>
      </ng-container>
      <div class="row class-md-12">
        <p></p>
      </div>
      <div class="row class-md-12">
        <p>{{ messageFooter }}</p>
      </div>
    </div>
  </mat-card>
  <mat-card class="section-container medical-assistance-container">
    <mat-card-header class="profile-photo-header">
      <mat-card-title><h3>Fill-up Details</h3></mat-card-title>
    </mat-card-header>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Patient's First Name</mat-label>
          <input type="text" matInput [errorStateMatcher]="matcher"
                 placeholder=""
                 formControlName="firstName">
          <mat-error *ngIf="form.controls.firstName.hasError('required')">
            First Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Patient's Middle Name</mat-label>
          <input type="text" matInput [errorStateMatcher]="matcher"
                 placeholder=""
                 formControlName="middleName">
          <mat-error *ngIf="form.controls.middleName.hasError('required')">
            Middle Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Patient's Last Name</mat-label>
          <input type="text"
                 matInput [errorStateMatcher]="matcher"
                 placeholder=""
                 formControlName="lastName">
          <mat-error *ngIf="form.controls.lastName.hasError('required')">
            Last Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Gender</mat-label>
          <mat-select [errorStateMatcher]="matcher" formControlName="gender">
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls.gender.hasError('required')">
            Gender is <strong>required</strong>s
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Age</mat-label>
          <input type="number" matInput
                 maxlength="3"
                 [errorStateMatcher]="matcher"
                 placeholder=""
                 formControlName="age">
          <mat-error *ngIf="form.controls.age.hasError('required')">
            Age is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.controls.age.hasError('min')">
            Age minimum is <strong>18</strong>
          </mat-error>
          <mat-error *ngIf="form.controls.age.hasError('max')">
            Age maximum is <strong>120</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Date of Birth</mat-label>
          <input matInput [matDatepicker]="picker" [max]="today" formControlName="dateOfBirth">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="form.controls.dateOfBirth.hasError('required')">
            Date of Birth is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-textarea-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Street Address</mat-label>
          <textarea matInput [errorStateMatcher]="matcher"
                    placeholder="Unit/Block Number & Street"
                    formControlName="address1"></textarea>
          <mat-error *ngIf="form.controls.address1.hasError('required')">
            Address 1 is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-textarea-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Town / Municipal</mat-label>
          <textarea matInput [errorStateMatcher]="matcher"
                    placeholder="Municipal / Town"
                    formControlName="address2"></textarea>
          <mat-error *ngIf="form.controls.address2.hasError('required')">
            Address 2 is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12" class="col-md-12">
          <mat-label>City</mat-label>
          <input type="text" matInput [errorStateMatcher]="matcher"
                 placeholder=""
                 formControlName="city"/>
          <mat-error *ngIf="form.controls.city.hasError('required')">
            City 1 is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Province</mat-label>
          <input type="text" matInput [errorStateMatcher]="matcher"
                 placeholder="Province"
                 formControlName="province"/>
          <mat-error *ngIf="form.controls.province.hasError('required')">
            Province is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-6">
          <mat-label>Contact Number *</mat-label>
          <input type="text" matInput [errorStateMatcher]="matcher"
                 placeholder=""
                 formControlName="contactNumber">
          <mat-error *ngIf="form.controls.contactNumber.hasError('required')">
            Contact Number is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.controls.contactNumber.hasError('minlength')">
            Contact Number is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Email Address *</mat-label>
          <input type="email" matInput [errorStateMatcher]="matcher"
                 placeholder=""
                 formControlName="emailAddress">
          <mat-error *ngIf="form.controls.emailAddress.hasError('required')">
            Email Address is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="form.controls.emailAddress.hasError('email')">
            Email Address is <strong>invalid</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Diagnosis *</mat-label>
          <mat-select [errorStateMatcher]="matcher" formControlName="diagnosis"
                      (selectionChange)="onChangeSelect($event)">
            <ng-container *ngFor="let diagnosis of diagnoses">
              <mat-option [value]="diagnosis">{{ diagnosis }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="form.controls.diagnosis.hasError('required')">
            Diagnosis is <strong>required</strong>s
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field" *ngIf="isOthers()">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Other Diagnosis *</mat-label>
          <input type="text" matInput [errorStateMatcher]="matcher"
                 placeholder="Please specify other diagnosis"
                 formControlName="otherDiagnosis">
          <mat-error *ngIf="form.controls.otherDiagnosis.hasError('required')">
            Other Diagnosis is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Household Monthly Income *</mat-label>
          <mat-select [errorStateMatcher]="matcher" formControlName="monthlyIncome">
            <ng-container *ngFor="let monthlyIncome of monthlyIncomeList">
              <mat-option [value]="monthlyIncome">{{ monthlyIncome }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="form.controls.monthlyIncome.hasError('required')">
            Household Monthly Income is <strong>required</strong>s
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Hospital *</mat-label>
          <input type="text"
                 placeholder="Pick one"
                 matInput
                 formControlName="hospital"
                 [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let hospital of filteredHospitals | async" [value]="hospital">{{ hospital }}</mat-option>
          </mat-autocomplete>
          <!--<mat-select [errorStateMatcher]="matcher" formControlName="hospital">
            <ng-container *ngFor="let hospital of hospitals">
              <mat-option [value]="hospital">{{ hospital }}</mat-option>
            </ng-container>
          </mat-select>-->
          <mat-error *ngIf="form.controls.hospital.hasError('required')">
            Hospital is <strong>required</strong>s
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-input-field">
        <mat-form-field appearance="outline" class="col-md-12">
          <mat-label>Type of Assistance *</mat-label>
          <mat-select [errorStateMatcher]="matcher" formControlName="assistanceType">
            <ng-container *ngFor="let assistanceType of assistanceTypes">
              <mat-option [value]="assistanceType">{{ assistanceType }}</mat-option>
            </ng-container>
          </mat-select>
          <mat-error *ngIf="form.controls.assistanceType.hasError('required')">
            Assistance Type is <strong>required</strong>s
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-action-container">
        <div class="form-action-item" class="col-md-6">
          <button type="submit"
                  class="form-action-button"
                  [disabled]="isLoading"
                  mat-raised-button
                  color="primary">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Apply
          </button>
        </div>
        <div class="form-action-item" class="col-md-6">
          <button type="button"
                  class="form-action-button"
                  [disabled]="isLoading"
                  mat-raised-button
                  color="warn"
                  (click)="cancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </mat-card>
</div>
