<mat-toolbar color="primary" class="site-header">
  <mat-toolbar-row>
    <div class="nav-logo col-md-2 no-padding" *ngIf="mobile">
      <img class="logo" src="/assets/images/logo.png">
    </div>
    <div class="nav-brand col-md-4" *ngIf="mobile">
      Member Assistance
    </div>
    <div class="nav-action-container col-md-6 no-padding" *ngIf="mobile">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="MENU">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-icon></mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item class="nav-action" [routerLink]="'/members'" *accessRights="access['members']">
          <mat-icon>list</mat-icon>
          <span>Members</span>
        </button>
        <button mat-menu-item class="nav-action" [routerLink]="'/hospitals'" *accessRights="access['hospitals']">
          <mat-icon>local_hospital</mat-icon>
          <span>Hospitals</span>
        </button>
        <button mat-menu-item class="nav-action" [routerLink]="'/reports'" *accessRights="access['reports']" [matMenuTriggerFor]="reports">
          <mat-icon>query_stats</mat-icon>
          <span>Reports</span>
        </button>
        <div class="sub-menu">
          <mat-menu #reports="matMenu">
            <button mat-icon-button class="sub-menu-action" [routerLink]="['/reports', 'member-reports']">
              <mat-icon>table_chart</mat-icon>
              <span>{{ 'Member Reports' | translate }}</span>
            </button>
            <div></div>
            <button mat-icon-button class="sub-menu-action" [routerLink]="['/reports', 'hospital-reports']">
              <mat-icon>table_chart</mat-icon>
              <span>{{ 'Hospital Reports' | translate }}</span>
            </button>
          </mat-menu>
        </div>
        <button mat-menu-item class="nav-action" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </div>
    <div class="nav-logo col-md-1 no-padding" *ngIf="!mobile">
      <img class="logo" src="/assets/images/logo.png">
    </div>
    <div class="nav-brand col-md-7" *ngIf="!mobile">
      {{ displayName }}
    </div>
    <div class="nav-action-container col-md-4" *ngIf="!mobile">
      <div class="nav-action col-md-3 no-padding" *accessRights="access['members']">
        <button mat-icon-button class="hidden-sm" [routerLink]="'/members'">
          <mat-icon>list</mat-icon>
          <span>{{ 'Members' | translate }}</span>
        </button>
      </div>
      <div class="nav-action col-md-3 no-padding" *accessRights="access['hospitals']">
        <button mat-icon-button class="hidden-sm" [routerLink]="'/hospitals'">
          <mat-icon>local_hospital</mat-icon>
          <span>{{ 'Hospitals' | translate }}</span>
        </button>
      </div>
      <div class="nav-action col-md-3 no-padding" *accessRights="access['reports']">
        <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="reports">
          <mat-icon>query_stats</mat-icon>
          <span>Reports</span>
        </button>
        <div class="sub-menu">
          <mat-menu #reports="matMenu">
            <button mat-icon-button class="sub-menu-action" [routerLink]="['/reports', 'member-reports']">
              <mat-icon>table_chart</mat-icon>
              <span>{{ 'Member Reports' | translate }}</span>
            </button>
            <div></div>
            <button mat-icon-button class="sub-menu-action" [routerLink]="['/reports', 'hospital-reports']">
              <mat-icon>table_chart</mat-icon>
              <span>{{ 'Hospital Reports' | translate }}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="nav-action col-md-3 no-padding" *accessRights="access['reports']">
        <button mat-icon-button class="hidden-sm" (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>{{ 'Logout' | translate }}</span>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
