<h2 mat-dialog-title>Change Password</h2>
<app-spinner [isLoading]="isProcessing"
             [isLoadingLimitReached]="isProcessingLimitReached"></app-spinner>
<form [formGroup]="form" (ngSubmit)="changePassword()">
<mat-dialog-content class="mat-typography">
  <div class="spinner-loading-shade"
       *ngIf="isProcessing">
    <mat-spinner *ngIf="isProcessing"></mat-spinner>
    <!--<div class="alert-warning" *ngIf="isProcessingLimitReached">
      Your action encountered an error. Please try again.
    </div>-->
  </div>
    <div class="profile-input-field col-md-12 row no-padding">
      <mat-form-field appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput
               [type]="hidePassword ? 'password' : 'text'"
               [errorStateMatcher]="matcher"
               placeholder=""
               formControlName="newPassword">
        <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="form.controls.newPassword.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.newPassword.hasError('minLength')">
          Password length must be minimum of <strong>8 characters</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.newPassword.hasError('hasNumber')">
          Password must contain a <strong>number</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.newPassword.hasError('hasCapitalCase')">
          Password must contain a capital case <strong>letter</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.newPassword.hasError('hasSmallCase')">
          Password must contain a lower case <strong>letter</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.newPassword.hasError('hasSpecialCharacter')">
          Password must contain a <strong>special character</strong>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="profile-input-field col-md-12 row no-padding">
      <mat-form-field appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput
               [type]="hideConfirmPassword ? 'password' : 'text'"
               [errorStateMatcher]="matcher"
               placeholder=""
               formControlName="confirmPassword">
        <mat-icon matSuffix (click)="hideConfirmPassword = !hideConfirmPassword">{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="form.controls.confirmPassword.hasError('required')">
          Confirm Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="form.controls.confirmPassword.hasError('PasswordMismatch')">
          Password <strong>mismatch</strong>
        </mat-error>
      </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="action-container">
  <button mat-button class="btn btn-primary" [disabled]="form.invalid">Save</button>
  <button mat-button class="btn btn-secondary" type="button" (click)="close()">Cancel</button>
</mat-dialog-actions>
</form>
