html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Fontil Sans';
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #143cbf !important;
  height: 10%;
}

.main-container {
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.section-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.page-title {
  font-weight: bolder;
  font-size: 24px;
}

.section-title {
  font-weight: bold;
  font-size: 20px;
  vertical-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.mat-table {
  width: 100% !important;
}

/*.mt-tbl-header {
  flex: 0 0 30%;
}*/

.spinner-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vmax;
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.no-margin {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.success-message {
  color: green;
  display: block;
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
  margin-top: -35px
}

.error-message {
  color: red;
  display: block;
  font-size: 12px;
  text-align: left;
  margin-left: 10px;
  margin-top: -35px
}


/**============================================
  FORMS MAIN CSS
 ==============================================*/

mat-form-field {
  display: block;
  height: 100px;
}

.form-input-field{
  display: block;
  width: 95%;
  margin: auto;
  height: 100px;
}

.short-field{
  width: 200px;
  height: 100px;
}

.form-action-container {
  width: 100%;
  display: inline-flex;
  height: 50px;
}

.form-action-item {
  width: 50%;
  display: inline-block;
  /*margin-left: 20px;
  margin-right: 20px;*/
}

.form-action-button {
  width: 100%;
}

.mat-card-header-text{
  width: 100% !important;
}

.mat-dialog-actions-align {
  justify-content: center;
}

/*===============================
  MOBILE
 ===============================*/
@media only screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    margin-left: 0px;
   //position: absolute;
    /*top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    padding: 5px;*/
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
}
